# Agenda

- Part-I

  - Programming Paradigms.

  - What is OOP?

  - Why do we need OOP?

  - Terminology and examples

    - Class, instance, objects, attributes, methods

- Part - II

 - Classes and Instances

 - Class Variables

 - Inheritance

- Part - III

  - Creating objects

  - Creating class variables

  - Inheritance

# Part-I

## Programming Paradigms

- Programming Paradigm: The style of coding.

- There are lots of different styles (paradigms) of coding.

- [Programming Paradigms](https://www.youtube.com/watch?v=Wt4FPjkCNaU&ab_channel=Craig%27n%27Dave)

- [Let's see the difference between Imperative and Declarative programming](https://www.youtube.com/watch?v=yOBBkIJBEL8)

## OOP: Object Oriented Programming

__What is OOP__?


Object-oriented programming (OOP) is a programming paradigm based on the concept of "objects", which can contain data and code: data in the form of fields (often known as attributes or properties), and code, in the form of procedures (often known as methods). (From Wikipedia)

__Why OOP?__

- Each object is on its own a program

- Creates boundries

- Ready to use and don't need to understand what is going on inside of an object.

- Organizes the code into logical pieces.

__Classes and Instances (Objects)__

- Classes are like notions and templates

- Objects (instances) are the actualization of these notions and ideas.

Examples:

Class ---> Chair

Object ---> A particular chair

[Different Chairs](https://www.google.com/search?q=chair+images&oq=chair+images&aqs=chrome..69i57j0l9.1845j1j7&sourceid=chrome&ie=UTF-8)

Class ---> Tree

Object (Instance of a Tree class) ---> A pine tree

[Tree Images](https://www.google.com/search?q=tree+images&sxsrf=ALeKk03oAU2blx0v91nLrOwMrFq81l1ZEw:1618343497847&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjH4cCq__vvAhUpKFkFHa7hAzEQ_AUoAXoECAEQAw&biw=1920&bih=864)

__Methods and Attributes__

- Functions and Data

Example:

Consider the example: Class = Chair:

Possible Attributes of a general chair:

- Height

- Length

- Width

- number of legs

- color

- with resting hands or not.

Possible functions of a chair:

- Adjust height

- Lean backward

- Tilt backward

- Rock

- fold/unfold

Consider the example: Class = Tree

Possible attributes of a tree:
- kind
- height
- width
- age
- indoor/ourdoor
- fruit/no fruit

Possible functions (actions) a general tree can execute:

- grow height
- drop leaves
- tilt towards sun
- grow seeds

# Part - II

## Syntax and Construction

In [1]:
## Let's see the syntax for creating a class 
## Syntax
class Student:
    pass

In [2]:
## Create 2 Student Objects

student1 = Student()
student2 = Student()

In [3]:
## Show that they are stored in different places
print(student1)
print(student2)

<__main__.Student object at 0x7fd9472c7190>
<__main__.Student object at 0x7fd9472c7460>

In [8]:
dir(student1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name']

In [10]:
## Each Student will have a name
## We can assign like this
student1.name = 'Joseph'
student2.name = 'Emily'

In [11]:
## let's see the student names are assigned
print(student1.name)
print(student2.name)

Joseph
Emily

In [12]:
dir(student1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name']

In [13]:
class Student:
    pass

student3 = Student()
# but this is error prone. We can make mistakes easily...
student3.nane = 'Mike'

In [14]:
class Student:
    def __init__(self):
        pass

In [15]:
## let's add student id,
## campus, first semester and program to our construction.


class Student:
  ## We use a constructor method to create a student
  def __init__(self, name, id):
    self.name = name
    self.id = id

In [17]:
# Student()

In [18]:
## let's define student1 and student2 again.
student1 = Student(id = 20210413547,name = 'Adam')

student2 = Student('John', 20210413550)

student3 = Student('Mike', 20210413551)

In [20]:
student1.id

20210413547

In [21]:
class Student:
  ## We use a constructor method to create a student
  def __init__(self, first, last, id, campus, program, enroll_semester):
    self.first = first
    self.last = last
    self.id = id
    self.campus = campus
    self.program = program
    self.enroll_semester = enroll_semester

In [22]:
## Create new students
student1 = Student(first = 'John',
                   last = 'Smith',
                   id = 20210413557, 
                   campus = 'Shady Grove', 
                   program = 'Masters', 
                   enroll_semester = 'Fall 2020' )

In [23]:
student2 = Student('Albert',
                   'Wayne',
                   20210413600,
                   'Main',
                   'Certificate',
                   'Spring 2019')

In [24]:
student2.campus

'Main'

In [25]:
student2.campus = 'Shady Grove'
student2.campus

'Shady Grove'

## Methods and Attributes

In [26]:
## Show some attributes (data) of the students
print(student1.enroll_semester)
print(student1.first)
print(student2.first)

Fall 2020
John
Albert

In [27]:
## let's create a function (method) that calculates the 
## total number of credits based on whether a student is a Masters/Certificate student
class Student:
  ## We use a constructor method to create a student
  def __init__(self, first, last, id, campus, program, enroll_semester):
    self.first = first
    self.last = last
    self.id = id
    self.campus = campus
    self.program = program
    self.enroll_semester = enroll_semester

## Create total_credits method here
  def total_credits(self):
    if self.program == 'Masters':
        return 30
    elif self.program =='Certificate':
        return  12

In [28]:
## Now let's create a student again

student1 = Student('John', 
                   'Smith', 
                   '20030001',
                   'Shady Grove',
                   'Certificate', 
                   'Fall 2020')

## call the total_credits method
student1.total_credits()

12

In [29]:
student2 = Student('Emily', 
                   'Smith', 
                   '20030001',
                   'Shady Grove',
                   'Masters', 
                   'Fall 2020')
student2.total_credits()

30

## Class Variables

In [30]:
class Student:
    ## class variable
    tuition = 1000
    technology_fee = 100
    
    ## We use a constructor method to create a student
    def __init__(self, first, last, id, campus, program, enroll_semester):
        self.first = first
        self.last = last
        self.id = id
        self.campus = campus
        self.program = program
        self.enroll_semester = enroll_semester

    ## Create total_credits method here
    def total_credits(self):
        if self.program == 'Masters':
            return 30
        elif self.program =='Certificate':
            return  12

    def total_tuition(self):
        return self.tuition * self.total_credits() + self.technology_fee

In [31]:
student1 = Student('Emily', 'Johnson', '20030001', 'Shady Grove','Certificate', 'Fall 2020')

student2 = Student('John', 'Wayne', '20210413605', 'Main', 'Masters', 'Spring 2019')

In [34]:
print(student1.first , student1.total_tuition())
print(student2.first, student2.total_tuition())

Emily 12100
John 30100

In [35]:
student1.tuition = 500
print(student1.total_tuition())
print(student2.total_tuition())

6100
30100

In [36]:
student1.tuition

500

In [37]:
student2.tuition

1000

In [38]:
student3 = Student('Mike', 'Oliver', '20210413630', 'Main', 'Certificate', 'Fall 2018')

In [39]:
student3.tuition

1000

In [40]:
## dir returns attributes and methods related to an object
dir(student2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'campus',
 'enroll_semester',
 'first',
 'id',
 'last',
 'program',
 'technology_fee',
 'total_credits',
 'total_tuition',
 'tuition']

In [ ]:
# dir(student1)

# Dunder/Magic methods

In [42]:
student1

In [72]:
class Student:
    ## class variable
    tuition = 1000
    technology_fee = 100
    
    ## We use a constructor method to create a student
    def __init__(self, first, last, id, campus, program, enroll_semester):
        self.first = first
        self.last = last
        self.id = id
        self.campus = campus
        self.program = program
        self.enroll_semester = enroll_semester

    ## Create total_credits method here
    def total_credits(self):
        if self.program == 'Masters':
            return 30
        elif self.program =='Certificate':
            return  12

    def total_tuition(self):
        return self.tuition * self.total_credits() + self.technology_fee
    
    def __repr__(self):
#         return f''
        return f"{self.first} {self.last} - {self.id}"
#         return '<html><table><tr> <td> yoo </td> </tr> </table></html>'

In [73]:
student1 = Student(first = 'John',
                   last = 'Smith',
                   id = 20210413557, 
                   campus = 'Shady Grove', 
                   program = 'Masters', 
                   enroll_semester = 'Fall 2020' )

In [74]:
student1

John Smith - 20210413557

In [135]:
class ShoppingCart: 
    
    def __init__(self):
        self.items = []
        
    def add_item(self, item):
        self.items.append(item)
        
    def add_items(self, items):
        self.items.extend(items)
    
    def __repr__(self):
        return ','.join(self.items)
    
    def __len__(self):
        return len(self.items)
#         return self.items.__len__()

    def __eq__(self, other):
        return self.__repr__() == other.__repr__()
    
    def __gt__(self, other):
        return len(self) > len(other)
    
    def __add__(self, other):
        n = ShoppingCart()
        n.add_items(self.items)
        n.add_items(other.items)
        return n

In [136]:
cart1 = ShoppingCart()
cart1.add_item('milk')
cart1.add_item('eggs')
cart1.add_item('butter')

cart1

milk,eggs,butter

In [137]:
len(cart1)

3

In [138]:
# dir([])
# dir(cart1)
# dir(3)

In [139]:
cart2 = ShoppingCart()
cart2.add_item('milk')
cart2.add_item('eggs')
cart2.add_item('butter')
# cart2.add_item('bread')

cart2

milk,eggs,butter

In [140]:
cart1 == cart2

True

In [141]:
cart3 = ShoppingCart()
cart3.add_item('milk')

cart1 == cart3

False

In [142]:
cart1 > cart3

True

In [143]:
cart1 + cart3

milk,eggs,butter,milk

https://www.section.io/engineering-education/dunder-methods-python/

In [144]:
import pandas as pd

df = pd.DataFrame()
df['A'] = [1,2]

df['A'] + df['A']

0    2
1    4
Name: A, dtype: int64

In [146]:
# dir(df['A'])

In [148]:
import numpy as np

3 + np.arange(10)

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [149]:
'' + np.arange(10)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U21'), dtype('<U21')) -> dtype('<U21')

In [159]:
class MyStr(str):
    
    def __add__(self, other): 
        print('__add__ ran')
        
        if type(other) == str:
            return super().__add__(other)
        
        return np.array([self + str(x) for x in other])

MyStr('3') + np.arange(10)

__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran
__add__ ran

array(['30', '31', '32', '33', '34', '35', '36', '37', '38', '39'],
      dtype='<U2')

In [160]:
MyStr('hello') + ' how are you?'

__add__ ran

'hello how are you?'

## Composition

object composition is a way to combine objects or data types into more complex ones. https://en.wikipedia.org/wiki/Object_composition

In [162]:
class Leg:
    def __init__(self, location): # all attributes a leg can have
        self.location=location
    
    def move(self):
        # all muscle movements 
        print(f'{self.location} moving leg muscles')
    
    
class Lung:
    def __init__(self):
        pass

    def breathe(self):
        print('breating')
        
class Brain:
    def __init__(self, iq):
        self.iq = iq
    
    def think(self):
        print(f'thinking with {self.iq} IQ capacity')


## Many other classes

class Animal:
    def __init__(self, iq=100 ):
        self.brain = Brain(iq)
        self.left_leg = Leg('left')
        self.right_leg = Leg('right')
        self.lung = Lung()
        
    def walk(self, steps=1):
        for i in range(steps):
            print(f'step {i+1}')
            self.left_leg.move()
            self.right_leg.move()
    
    def eat(self):
        # eating using mouth/beak etc
        print('eating')
        
    def think(self):
        self.brain.think()
    
    def breathe(self):
        self.lung.breathe()

In [163]:
chicken = Animal(iq=5)
chicken.walk(steps=2)

step 1
left moving leg muscles
right moving leg muscles
step 2
left moving leg muscles
right moving leg muscles

In [164]:
chicken.think()

thinking with 5 IQ capacity

In [165]:
chicken.breathe()

breating

Can you think of any example to composition from what we have learned so far?

__IMPORTANT NOTE__ (Maybe not directly related.) Never design code based on real life. The code is above is for an analogy. If we try it to copy directly from life, we would keep hitting on limitations because of exceptions in real life. Eg: Penguin is a bird but cannot fly, dophin is a fish but does not lay eggs. 

## Aggregation (Optional but very good to know)
Instead of instantiating objects inside the class, instantiate them outside and pass them into the class

In [167]:
# Let's start with this example

class DefaultEngine:  
    def run(self):
        print('default engine is running')

class Vehicle:
    def __init__(self):
        self.engine = DefaultEngine()
    
    def start(self):
        self.engine.run()
        
    def go(self):
        print('going')

In [168]:
car = Vehicle()
car.start()

default engine is running

In [169]:
class AdvancedEngine:  
    def run(self):
        print('advanced engine is running')

How can I create the same car with this new engine?

In [170]:
# let's redesign the class

class Vehicle:
    def __init__(self, engine=None):
        self.engine = engine or DefaultEngine() # if engine passed in the constructor use it otherwise use DefaultEngine
    
    def start(self):
        self.engine.run()
        
    def go(self):
        print('going')

In [172]:
def_engine = DefaultEngine()
adv_engine = AdvancedEngine()

car1 = Vehicle(def_engine)
car2 = Vehicle(adv_engine)
car3 = Vehicle()

car1.start()
car2.start()
car3.start()

default engine is running
advanced engine is running
default engine is running

In [173]:
class CrazyEngine:
    def run(self):
        print('running like crazy')
        
car4 = Vehicle(CrazyEngine())
car4.start()

running like crazy

In [176]:
# will this work? 
# is it a good pattern? 
# what's wrong with this approach? 

class BrokenEngine:
    def run(self):
        print('this does not work')

class Vehicle_NotGood:
    def __init__(self, engine_type):
        if engine_type == 'normal':
            self.engine =  DefaultEngine()
        elif engine_type == 'advanced':
            self.engine = AdvancedEngine()
        else:
            self.engine = BrokenEngine()
    
    def start(self):
        self.engine.run()
        
c = Vehicle_NotGood('')
c.start()

this does not work

## Inheritence

In [177]:
class Plane(Vehicle):
#     def __init__(self, engine=None):
#         super().__init__(engine)
        
    def take_off(self):
        print('taking off...')
    
    # override
    def go(self): # overrides the base class' go method
        print('flying...')

In [178]:
plane = Plane()
plane.start()

default engine is running

In [179]:
plane.take_off()

taking off...

In [180]:
plane.go()

flying...

In [181]:
car.go()

going

In [182]:
class JetEngine(DefaultEngine):
    # override
    def run(self):
        print('jet engine is running')
        
jet_engine = JetEngine()
jet = Plane(jet_engine)

jet.start()
jet.go()

jet engine is running
flying...

In [183]:
vehicles = [
    jet,
    plane,
    car
]

for v in vehicles:
    v.start()
    v.go()

jet engine is running
flying...
default engine is running
flying...
default engine is running
going

That's how in games, thousands of different characters exhibit their own behaviors

In [184]:
import pandas as pd

df = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [185]:
df.describe()

ValueError: Cannot describe a DataFrame without columns

In [186]:
df.insight()

AttributeError: 'DataFrame' object has no attribute 'insight'

In [187]:
class MyDataFrame(pd.core.frame.DataFrame):
    # override
    def describe(self):
        try: 
            return super().describe()
        
        except ValueError as err: 
            print (err)
            
    def insight(self):
        print(self.shape)
        for col in self.columns:
            print(col + ' has ' + str(self[col].nunique()) + ' unique values')

In [188]:
df = MyDataFrame()
type(df)

__main__.MyDataFrame

In [189]:
df.describe()

Cannot describe a DataFrame without columns

In [190]:
df['A'] = [x for x in range(100)]
type(df['A'])

pandas.core.series.Series

In [191]:
df['B'] = df['A'] * 2

In [192]:
df['C']  = ['Even' if x % 2 == 0 else 'Odd' for x in df['A']]

In [193]:
df.head()

   A  B     C
0  0  0  Even
1  1  2   Odd
2  2  4  Even
3  3  6   Odd
4  4  8  Even

In [194]:
df.insight()

(100, 3)
A has 100 unique values
B has 100 unique values
C has 2 unique values

## Abstract Classes

In [195]:
class Shape:
    
    def calculate_area(self):
        """
        abstract method
        """
        raise NotImplemented('method not implemented')

In [197]:
# Shape().calculate_area()

In [198]:
class Square(Shape):
    
    def __init__(self, size):
        self.size = size
    
    def calculate_area(self):
        return self.size ** 2
    
s = Square(4)
s.calculate_area()

16

In [199]:
class RightTriangle(Shape):
    
    def __init__(self, base, height):
        self.base = base
        self.height = height
    
    def calculate_area(self):
        return self.base * self.height / 2
    
t = RightTriangle(10, 5)
t.calculate_area()

25.0

In [207]:
import os

class FileProcessor:
    
    def __init__(self, path, file_types=['.ipynb']):
        print('doing some initialization')
        
        self.files = self.find_all_files(path, file_types)

    
    def find_all_files(self, path, file_types):
        paths = []
        for root, dirs, files in os.walk(path):
            for file in files:
                if any([file.endswith(ft) for ft in file_types]):
                    path = os.path.join(root, file)
                    # print(path)
                    paths.append(path)
        return paths
    
    def read_file(self, file_path, encoding='utf8'):
#         print(file_path)
        with open(file_path,encoding=encoding) as f:
            return f.read()
    
    def start(self):
        """
        Entry point for the class
        """
        for file in self.files:
            self.process_file(file)
        
    def process_file(self, file_path):
        """
        abstract method
        """
        raise NotImplemented('process_file method not implemented')

In [205]:
# FileProcessor(path='../').start()

In [206]:
class ContainsSensitiveData(FileProcessor):
    
    def __init__(self):
        super().__init__(path='../', file_types=['.ipynb'])
    
    def process_file(self, file_path):
        try:
            content = self.read_file(file_path)

            if 'token' in content:
                print(file_path, 'contains sensitive data')
        
        except Exception as e:
            print('--- ERRROR', file_path, str(e))

                
ContainsSensitiveData().start()

doing some initialization
../Week10/week10_OOP.ipynb contains sensitive data
../Week10/.ipynb_checkpoints/week10_OOP-checkpoint.ipynb contains sensitive data

# Part-III

Work on your lab

## Resources

[Py4e - OOP](https://www.py4e.com/lessons/Objects#)

[Python OOP Tutorials](https://www.youtube.com/playlist?list=PL-osiE80TeTsqhIuOqKhwlXsIBIdSeYtc)

[Imperative vs Declarative Programming](https://www.youtube.com/watch?v=yOBBkIJBEL8&ab_channel=TadasPetra)

[Python OPP Exercises](https://pynative.com/python-object-oriented-programming-oop-exercise/)